parameters:
  production_delivery:
    description: Whether to deliver the build to production.
    type: boolean
macos:
  xcode: 16.4.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - prepare_workspace
  - restore_environment_variables
  - install_fastlane:
      directory: ios
  - when:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] Apple AppStore Upload'
            command: |
              rbenv global 3.3.8
              bundle exec fastlane ios production_upload ipa_path:attached_workspace/app-release.ipa version_name:${NEW_VERSION_NAME}
            working_directory: ios
  - unless:
      condition: << parameters.production_delivery >>
      steps:
        - run:
            name: '[FL] Apple Testflight Upload'
            command: |
              rbenv global 3.3.8
              bundle exec fastlane ios beta_upload ipa_path:attached_workspace/app-release.ipa
            working_directory: ios
