macos:
  xcode: 16.2.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - install_fastlane:
      directory: ios
  - run:
      name: '[FL] Apple AppStore Promotion'
      command: bundle exec fastlane ios promote
      working_directory: ios
