macos:
  xcode: 16.4.0
environment:
  FASTLANE_SKIP_UPDATE_CHECK: true
steps:
  - checkout
  - install_fastlane:
      directory: ios
  - run:
      name: '[FL] Apple AppStore Promotion'
      command: |
        rbenv global 3.3.8
        bundle exec fastlane ios promote
      working_directory: ios
